@model IEnumerable<WebAplicacionMVC.Models.Contacto>

@{
    ViewData["Title"] = "Lista dde Contactos";
}

<div class="text-center">
    <h1 class="display-4">Contacto con .net 8</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="crear" asp-controller="Inicio" class="btn btn-secondary d-block mx-auto btn-lg">
            <i class="fa fa-plus" aria-hidden="true"></i> nuevo usuarios
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="carcard-header bg-black">
                <h3 class=" text-center text-white"> <strong>Lista de usuario</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" id="tblUsuaris" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Id)</th>
                                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Telefono)</th>
                                <th>@Html.DisplayNameFor(m => m.Celular)</th>
                                <th>@Html.DisplayNameFor(m => m.Email)</th>
                                <th>@Html.DisplayNameFor(m => m.FechaCreacion)</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Id)</td>
                                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                                    <td>@Html.DisplayFor(m => item.Telefono)</td>
                                    <td>@Html.DisplayFor(m => item.Celular)</td>
                                    <td>@Html.DisplayFor(m => item.Email)</td>
                                    <td>@Html.DisplayFor(m => item.FechaCreacion)</td>
                                    <td>
                                        <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id" >
                                            <i class="fa fa-pencil" aria-hidden="true"></i>Editar
                                        </a>
                                        <a class="btn btn-secondary" asp-action="Detalle" asp-route-id="@item.Id">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>Detalle
                                        </a>

                                        <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.Id">
                                            <i class="fa fa-trash" aria-hidden="true"></i>Eliminar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registro</p>
                }
            </div>

        </div>
    </div>
</div>